/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Variables */
:root {
    /* Palette */
    --std-blue: #0084fd;
    --std-light-blue: #b5ddff;
    --std-violet: #9792e4;
    --std-darkgray: #333333;
    --std-white: #ffffff;
    
    /* Spaces and measures */
    --header-height: 4.5rem;
    --card-margin: 1.5rem;
    --quote-image-edge: 50vw;
    --max-quote-image-edge: 200px
}

/* UTILITIES */
.small-radius {
    border-radius: 20px;
}

.big-radius {
    border-radius: 50px;
}

/* COMMON */
.container {
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}


html {
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    padding: 0 1rem;
}

.card {
    height: 100%;
    text-align: center;
    padding: 1.5rem;

    background-color: var(--std-light-blue);
    
    /* DEBUG */
    border: 1px dashed red;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    background-color: var(--std-blue);
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    line-height: var(--header-height);
}

#logo img{
    display: block;
}

nav {
    display: none;
}

nav ul {
    display: flex;
}

/* MAIN */
main {
    margin-top: calc(var(--header-height) + 3rem);
}

#features {
    margin: 3rem 0 5rem;
}

#features .col {
    margin-bottom: var(--card-margin);
}

#features .card-get-demo {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
}

.card-get-demo .card-text {
    padding: 1.5rem;

    /* DEBUG */
    border: 1px dashed red;
}

.card .card-image img {
    display:block;
    margin: 0 auto;
    width: 80%;
    max-width: 250px;
}

.card i {
    font-size: 5rem;
}

/* Strategic planning */
#strategic-planning{
    background-color: var(--std-violet);
    padding: 4rem 0;
}

#strategic-planning .card {
    background-color: var(--std-white);
}

#strategic-planning .card p {
    text-align: center;
}

.planning-content * {
    /* DEBUG */
    margin: 2rem 0;
}

/* Testimonials */
#testimonials {
    text-align: center;
    padding: 3rem 0 3rem;
}

#testimonials * {
    /* DEBUG */
    margin-bottom: 1rem;
}

#testimonials .card {
    color: var(--std-white);
    background-color: var(--std-violet);
}

.quote-image  {
    width: var(--quote-image-edge);
    height: var(--quote-image-edge);
    max-width: var(--max-quote-image-edge);
    max-height: var(--max-quote-image-edge);

    border-radius: 50%;
    /* overflow: hidden; */

    margin: 0 auto;

    /* DEBUG */
    border: 1px dashed green;
}

.quote-image img {
    object-fit: cover;
    /* max-width: fit-content; */
}

/* MEDIA QUERY */

/* Tablet */
@media screen and (min-width: 768px) {
    /* MAIN */

    /* Features */
    #features .row{
        display: flex;
        flex-wrap: wrap;
        column-gap: var(--card-margin);
    }

    #features .col:first-child {
        width: calc(((100% / 3) * 2) - var(--card-margin));
    }

    #features .col {
        width: calc((100% / 3) - var(--card-margin));
    }

    /* Testimonials */
    #testimonials .card {
        display: flex;
        align-items: flex-start;
        
        text-align: left;
    }
    
    .quote-image {
        flex-shrink: 0;
    }
    
}

/* Desktop */
@media screen and (min-width: 992px) {
    /* COMMON */
    .container {
        width: 90%;
    }

    /* HEADER */
    .hamburger-menu {
        display: none;
    }

    nav {
        display: block;
    }

    /* MAIN */
    /* Features */
    #features .card-get-demo {
        flex-direction: row;
    }

    #features .card-get-demo .card-image {
        align-self: flex-end;
    }

    #features .card-get-demo .card-text,
    #features .card-get-demo .card-image {
        width: 50%;
    }

    /* Strategic planning  */
    .planning-content {
        width: 80%;
        margin: 0 auto;
        display: flex;
    }
} 